<% include ../partials/header %>

  <div class="row">
    <div class="col-md-3">
      <h1>YelpCamp</h1>
      <ul class="list-group">
        <% if (currentUser && foundCamp.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <li class="list-group-item"><a class="btn btn-block btn-warning" href="/campgrounds/<%=foundCamp._id%>/edit">Edit Campground</a> </li>
          <li class="list-group-item">
            <form class="" action="/campgrounds/<%=foundCamp._id%>?_method=DELETE" method="post">
              <button class="btn btn-block btn-danger" type="submit" name="button">Delete</button>
            </form>
          </li>
        <% } %>

        <li class="list-group-item"><a class="btn btn-block btn-primary" href="/campgrounds/new">Add New Campground</a></li>
      </ul>

      <div class="">
        <h3><%=foundCamp.name %>'s location</h3>
      </div>
    </div>

    <div class="camp-show-single col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%=foundCamp.img%>" alt="">
      </div>

      <div class="caption">
        <h4 class="pull-right"><%=foundCamp.price%> / night</h4>
        <h4><%=foundCamp.name%></h4>
        <p><%=foundCamp.description%></p>
        <p>submitted by: <%=foundCamp.author.username%> <em><%=foundCamp.createdAt%></em> </p>
      </div>

      <div class="well">
        <a class="btn btn-primary pull-right" href="/campgrounds/<%=foundCamp._id%>/comments/new">Add New Comment</a>
        <h4>Comments</h4>
        <hr>
        <% foundCamp.comments.forEach(comment =>{ %>
          <span class="pull-right"><%=comment.createdAt%></span>
          <h4><strong><%=comment.author.username%></strong></h4>
          <p><%=comment.text%></p>
          <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
            <form class="form-inline" action="/campgrounds/<%=foundCamp._id%>/comments/<%=comment.id%>?_method=DELETE" method="post">
              <a class="btn btn-warning btn-xs" href="/campgrounds/<%=foundCamp._id%>/comments/<%=comment.id%>/edit">Edit Comment</a>
              <button class="btn btn-danger btn-xs" type="submit" name="button">Delete Comment</button>
            </form>
          <% } %>
        <% }) %>


      </div>
    </div>

  </div>



<% include ../partials/footer %>
