<% include ../partials/header %>

  <div class="row">
    <div class="col-md-3">
      <h1><%include ../partials/logo %></h1>
      <ul class="list-group">
        <% if (currentUser && foundCamp.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
          <li class="list-group-item"><a class="btn btn-block btn-warning" href="/campgrounds/<%=foundCamp._id%>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Campground</a> </li>
          <li class="list-group-item">
            <form class="" action="/campgrounds/<%=foundCamp._id%>?_method=DELETE" method="post">
              <button class="btn btn-block btn-danger" type="submit" name="button"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            </form>
          </li>
        <% } %>

        <li class="list-group-item"><a class="btn btn-block btn-success" href="/campgrounds/new"><span class="glyphicon glyphicon-plus"></span> Add New Campground</a></li>
        <li class="list-group-item"><a class="btn btn-block btn-primary" href="/campgrounds">Campground List</a></li>
      </ul>

      <div id="map"></div>
      <h4><%=foundCamp.location%></h4>
    </div>

    <div class="camp-show-single col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%=foundCamp.img%>" alt="">
      </div>

      <div class="caption">
        <h4 class="pull-right">$<em> <%=foundCamp.price%></em> / night</h4>
        <h2><%=foundCamp.name%></h2>
        <p><%=foundCamp.description%></p>
        <p>submitted by: <strong><a href="/profile/<%=foundCamp.author.id%>"><%=foundCamp.author.username%></a> / <%=moment(foundCamp.createdAt).fromNow()%></strong> </p>
      </div>

      <div class="well">
        <a class="btn btn-success pull-right" href="/campgrounds/<%=foundCamp._id%>/comments/new"><span class="glyphicon glyphicon-plus"></span> </a>
        <h3>Comments</h3>
        <hr>
        <% foundCamp.comments.forEach(comment =>{ %>
          <span class="pull-right"><%=moment(comment.createdAt).fromNow()%></span>
          <h4><strong><a href="/profile/<%=comment.author.id%>"><%=comment.author.username%></a></strong></h4>
          <p><%=comment.text%></p>
          <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
            <form class="form-inline" action="/campgrounds/<%=foundCamp._id%>/comments/<%=comment.id%>?_method=DELETE" method="post">
              <a class="btn btn-warning btn-xs" href="/campgrounds/<%=foundCamp._id%>/comments/<%=comment.id%>/edit"><span class="glyphicon glyphicon-pencil"></span> </a>
              <button class="btn btn-danger btn-xs" type="submit" name="button"><span class="glyphicon glyphicon-remove"></span> </button>
            </form>
          <% } %>
        <% }) %>


      </div>
    </div>

  </div>

  <script>
  function initMap() {
  const lat = <%=foundCamp.lat%>;
  const lng = <%=foundCamp.lng%>;
  const center = { lat: lat, lng: lng };
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: center,
    scrollwheel: false
  });
  const contentString = `
      <strong><%= foundCamp.name %><br />
      <%= foundCamp.location %></strong>
      <p><%= foundCamp.description %></p>
    `;
  const infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  const marker = new google.maps.Marker({
    position: center,
    map: map
  });
  marker.addListener("click", function() {
    infowindow.open(map, marker);
  });
}
</script>
<script async defer src="<%=geoSrc%>"></script>

<% include ../partials/footer %>
